{% extends 'base.html' %}

{% block title %}
    Anasayfa - {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
     <div class="row" style="margin-bottom: 30px;">
         <div class="col-md-5 col-sm-6" style="background-color: #ff0000;margin-left: 75px; height: 150px;">1. Post</div>
         <div class="col-md-5 col-sm-6" style="background-color: #ffca11;margin-left: 75px; height: 150px;">2. Post</div>
     </div>

     <div class="row" style="margin-bottom: 30px;">
         <div class="col-md-5 col-sm-6" style="background-color: #ff0000;margin-left: 75px; height: 150px;">3. Post</div>
         <div class="col-md-5 col-sm-6" style="background-color: #ffca11;margin-left: 75px; height: 150px;">4. Post</div>
     </div>

     <div class="row" style="margin-bottom: 30px;">
         <div class="col-md-5 col-sm-6" style="background-color: #ff0000;margin-left: 75px; height: 150px;">5. Post</div>
         <div class="col-md-5 col-sm-6" style="background-color: #ffca11;margin-left: 75px; height: 150px;">6. Post</div>
     </div>

        Welcome {{request.user.get_full_name}}

    </div>
{% endblock %}